@import "tailwindcss";
    
@theme{
    /* for  intro page cursor animation*/
    --animate-blink: blink 1s steps(2) infinite;
    @keyframes blink{
        0%{border-right-width: 0em;}
        100%{border-right-width: 0.5em;}
    }
}
@layer components {
    .intro-scroll-show{
        @apply bg-white/30;
        @apply p-[1em] relative col-span-2;
        @apply m-[min(5vh,5vw)];
        @apply flex items-center justify-center;
        @apply backdrop-blur-sm;
        @apply transition-all duration-300 ease-in-out ;
        right:100%;
    }
    .hero-bg-image{
        @apply w-full h-auto absolute object-cover  brightness-65 -z-10;
        @apply h-[calc(100vh-var(--navbar-height))];
        /* animation-composition:replace; */
    }
}
