{% extends "TEMPLATE.html"%}

{%block title%}
Tqin's Portfolio
{%endblock%}

{%block extension_script%}
<script src="/src/index/Glitch.js" defer></script>
<script src="/src/index/Typewriter.js" defer></script>
<script src="/src/index/Scroll_Show.js"  defer></script>

{%endblock%}

{% block content %}
    <section class="full-screen-seg flex relative">
        
        <div id="glitch-box" class=" absolute inset-0 overflow-clip z-0">
        </div>
        <div class=" absolute
        w-full bg-gradient-to-b from-white/0 to-black
        justify-self-start self-end p-[5vh]
        z-10">
            
            <p class="
            text-[min(5vh,5vw)]
            top-[50%] text-outline">I Make...</p>
            <p id="Typewriter" class="
            text-[min(15vh,15vw)]
            h-[1em] pr-[0.1em]
            animate-blink float-start border-r-white
            flex items-center"></p>
        </div>
    
        
    </section>
    


    <section id="intro" class="
    max-h-full max-w-full pt-(--navbar-height)
    grid grid-cols-3 grid-rows-2">
        
            <div class="intro-scroll-show
            mb-0 rounded-t-[5vw]">
                <article  class="text-justify">
                    <p class="text-[50px]"><span class="text-miku-green">01</span>No time liao!!!</p>
                    <p class="text-xl indent-[4em]">This is taking wayyy to long, i needa start studying
                    </p>
                </article>
            </div>
            
            <div class="intro-scroll-show
            flex flex-row justify-evenly
            mt-0 rounded-b-[5vw] gap-[2em]">

                <article  class="text-justify">
                    <p class="text-[40px]"><span class="text-miku-green">01</span>Lorem 
                    <p class="indent-[4em]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fermentum nisi at odio imperdiet, a luctus velit aliquam. Pellentesque congue sapien purus, in aliquet ex vehicula vulputate. Quisque eu eros volutpat, egestas augue sit amet, accumsan metus. Duis lobortis nunc pretium elementum porta. Suspendisse potenti. Maecenas quis lacus nunc. Nunc rutrum vehicula metus, in venenatis tortor egestas pretium. Vestibulum commodo gravida ipsum quis fermentum. Nulla facilisi. Maecenas rhoncus libero lorem,
                    </p>
                </article>

                <article  class="text-justify">
                    <p class="text-[40px]"><span class="text-miku-green">01</span>Lorem ipsum</p>
                    <p class="indent-[4em]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fermentum nisi at odio imperdiet, a luctus velit aliquam. Pellentesque congue sapien purus, in aliquet ex vehicula vulputate. Quisque eu eros volutpat, egestas augue sit amet, accumsan metus. Duis lobortis nunc pretium elementum porta. Suspendisse potenti. Maecenas quis lacus nunc. Nunc rutrum vehicula metus, in venenatis tortor egestas pretium. Vestibulum commodo gravida ipsum quis fermentum. Nulla facilisi. Maecenas rhoncus libero lorem,
                    </p>
                </article>

                <article  class="text-justify">
                    <p class="text-[40px]"><span class="text-miku-green">01</span>Lorem ipsum</p>
                    <p class="indent-[4em]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fermentum nisi at odio imperdiet, a luctus velit aliquam. Pellentesque congue sapien purus, in aliquet ex vehicula vulputate. Quisque eu eros volutpat, egestas augue sit amet, accumsan metus. Duis lobortis nunc pretium elementum porta. Suspendisse potenti. Maecenas quis lacus nunc. Nunc rutrum vehicula metus, in venenatis tortor egestas pretium. Vestibulum commodo gravida ipsum quis fermentum. Nulla facilisi. Maecenas rhoncus libero lorem,
                    </p>
                </article>
            </div>

            <div id="hero-img" class="
            relative
            bg-[url(/media/index/hero.png)] bg-cover bg-no-repeat
            mask-l-from-80% mask-r-from-80% mask-b-from-80%
            row-span-full col-span-1 col-end-[-1] self-center
            h-8/9 
            opacity-0 -bottom-[5%]
            transition-all duration-500 ease-in-out 
            ">
            <span class="absolute bottom-[50%] size-[10%] "></span>
            </div>
            </div>
    </section>
    
{% endblock%}