{% extends "TEMPLATE.html"%}

{%block title%}
Tqin's Portfolio
{%endblock%}

{% block content %}
    <div class="full-screen-seg flex relative">
        
        <div id="glitch-box" class=" absolute inset-0 overflow-x-clip">
        </div>
        <div class=" absolute
        justify-self-start self-end p-[5vh]
        z-10">
            
            <p class="
            text-[min(5vh,5vw)]
            top-[50%] text-outline">I Make...</p>
            <p id="Typewriter" class="
            text-[min(15vh,15vw)]
            h-[1em] pr-[0.1em]
            animate-blink float-start border-r-white
            flex items-center"></p>
        </div>
    
        <!-- <div id="Glitch" class=" absolute self-center w-[30vw] h-[30vw] right-[10%]  ">
        </div> -->
        <script src="/src/index/Glitch.js" defer></script>
        <script src="/src/index/Typewriter.js" defer></script>
    </div>

{% endblock%}